@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: source-han-sans-hong-kong, system-ui, sans-serif;
  }

  ::-webkit-scrollbar {
    width: 16px;
  }
  ::-webkit-scrollbar:horizontal {
    height: 16px;
  }
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    @apply bg-neutral-100;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-200;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-300;
  }
}

@layer components {
  #app {
    @apply flex min-h-screen flex-col;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .links {
    @apply border-t-2 border-b-2 border-transparent font-medium text-stone-500 transition hover:text-stone-400;
  }
  .link-active {
    @apply border-b-rose-500 text-rose-500 hover:text-rose-500;
  }
  .icons {
    @apply text-stone-500 transition hover:text-stone-400;
  }
  .link-highlight {
    transition: 0.3s;
    box-shadow: 0 -2px #bae6fd inset;
  }
  .link-highlight:hover {
    box-shadow: 0 -2rem #bae6fd inset;
  }

  .page-enter-active,
  .menu-enter-active {
    @apply transition duration-200;
  }
  .product-enter-active {
    @apply transition duration-200 ease-in;
  }

  .page-leave-active,
  .menu-leave-active {
    @apply transition duration-100;
  }
  .product-leave-active {
    @apply transition duration-150 ease-out;
  }

  .page-enter-to,
  .page-leave-from,
  .menu-enter-to,
  .menu-leave-from {
    @apply translate-x-0 opacity-100;
  }

  .page-enter-from {
    @apply -translate-x-3 opacity-0;
  }
  .page-leave-to {
    @apply translate-x-3 opacity-0;
  }

  .product-enter-from,
  .product-leave-to {
    @apply translate-y-2 opacity-0;
  }
  .product-enter-to,
  .product-leave-from {
    @apply translate-y-0 opacity-100;
  }

  .menu-enter-from,
  .menu-leave-to {
    @apply -translate-x-1/2 opacity-0;
  }

  .swiper-btn-next,
  .swiper-btn-prev {
    @apply absolute top-1/2 -translate-y-1/2 cursor-pointer rounded-full bg-white/50 text-2xl text-stone-500 transition hover:bg-white/70;
  }
}

.swiper-vars {
  --swiper-theme-color: #78716c;
  --swiper-pagination-bullet-inactive-color: #d6d3d1;
  --swiper-pagination-bullet-inactive-opacity: 1;
}
